@import "../../index.scss";

.AppLogin {
  @include paper(center);
}

.AppUserList {
  @include paper(flex-start);
  padding: calc($size * 2) 0;
  height: fit-content;
}

.Error {
  display: block;
  width: 100%;
  padding: $size;
  background-color: $error;
  color: white;
  position: fixed;
  bottom: 0px;
  text-align: center;
}
