@import "../../index.scss";

.SpinnerBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.Spinner {
  display: block;
  position: absolute;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Spinner {
    animation: spinner-spin infinite 2s linear;
  }

  @keyframes spinner-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}