@import "../../index.scss";

.Login {
  display: block;
  padding: 0;
  border: 2px solid $primary;
  box-sizing: border-box;
  margin-bottom: 20vh;
  &.rejected {
    border-color: $error;
  }
}

.LoginHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $size;
  font-weight: 500;
  background-color: $primary;
  color: white;
  &.rejected {
    background-color: $error;
  }
}

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $size;
  padding: $size;
  label {
    color: $gray;
    align-self: stretch;
    text-align: left;
    font-size: calc($size / 3 * 2);
    font-weight: 500;
    margin-bottom: calc($size * -0.5);
  }
}
